/* .btn btn-primary {
  background-color: aquamarine;
} */
.summary {
  padding-top: 20px;
  padding-bottom: 40px;
  margin-left: 10%;
  margin-right: 10%;
}
.row {
  margin-left: 20%;
  margin-right: 20%;
}
hr {
    margin-top: 5rem;
    margin-bottom: 5rem;
    border: 0;
    border-top: 5px solid rgba(0, 0, 0, 0.1);
  }
/* .bg_img {
  max-width: 100%;
  background-image: url("/Images/Michelle_a_banner_for_a_website_in_bright_pinks_dark_pinks_and__22f4b433-a3ab-4f47-83a2-84b09de297e4\ \(1\).png");
} */
.imagine {
  color: rgb(42, 181, 98);
  padding: 5%;
  padding-left: 20%;
  padding-right: 20%;
}
.media {
  padding-top: 20px;
  padding-left: 40px;
  padding-right: 40px;
}
/* #wolfHomeInfoPages {
  padding: 20px;
} */
.media-body {
  margin-top: 40px;
  padding-left: 40px;
  padding-right: 40px;
}
#empathyMap {
  padding: 5%;
}
#userPersona {
  padding: 5%;
}
#storyboard {
  padding: 5%;
}
.problemStatement {
  Padding: 40px;
}
.userInsight {
  padding: 40px;
}
#featurePrioritization {
  padding: 5%;
}
#ideation {
  padding: 5%;
}
#navCardSort {
  padding: 5%;
}
#midFiWireframes {
  padding: 5%;
}
#abTestingIteration {
  padding: 5%;
}
#kbygIteration {
  padding: 5%;
}
  /* // Small devices (landscape phones, 576px and up)
@media (min-width: 576px) { ... }

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) { ... } */

/* // Large devices (desktops, 992px and up)
@media (min-width: 992px) {
  .media::cue-region: column;
} */

/* // Extra large devices (large desktops, 1200px and up)
@media (min-width: 1200px) { ... } */